<div id="bar" layout="column" layout-margin>
    <h2 class="md-display-1" flex>Bar Graph</h2>

    <p flex>A bar chart is a way of showing data as bars.</p>
    <p flex>It is sometimes used to show trend data, and the comparison of multiple data sets side by side.</p>

    <div layout="row" layout-align="end">
        <md-button href="http://www.chartjs.org/docs/#bar-chart">Chart.JS Documentation</md-button>
    </div>
</div>

<div layout="column" layout-margin>
    <div data-ng-controller="DemoCtrl as demo" data-ng-init="demo.run = false" class="md-whiteframe-z1" flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span>Basic Usage</span>
                </h2>
                <span flex></span>
                <md-button data-ng-click="demo.run = !demo.run" class="md-icon-button" aria-label="Run Demo">
                    <md-tooltip>Run Demo</md-tooltip>
                    <md-icon class="fa fa-lg" md-font-icon="fa-play"></md-icon>
                </md-button>
                <md-button data-ng-click="demo.showSource = !demo.showSource" class="md-icon-button" aria-label="View Source">
                    <md-tooltip>View Source</md-tooltip>
                    <md-icon class="fa fa-lg" md-font-icon="fa-code"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-content data-ng-if="demo.showSource" layout-padding>
            <md-tabs class="source" md-border-bottom>
                <md-tab label="HTML">
                    <md-content class="md-padding">
                        <h3>HTML</h3>
                        {% highlight html %}

<div data-ng-controller="BarCtrl as bar">
    <canvas data-sys-chart-bar
            data-dataset="bar.data"
            width="400"
            height="240"></canvas>
</div>

                        {% endhighlight %}
                    </md-content>
                </md-tab>
                <md-tab label="JS">
                    <md-content class="md-padding">
                        <h3>JavaScript</h3>
                        {% highlight js %}
(function () {
    'use strict';

    function BarCtrl ( ) {
        this.data = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [
                {
                    fillColor: "rgba(220,220,220,0.4)",
                    strokeColor: "rgba(220,220,220,1)",
                    data: [65, 59, 80, 81, 56, 55, 40]
                },
                {
                    fillColor: "rgba(151,187,205,0.4)",
                    strokeColor: "rgba(151,187,205,1)",
                    data: [28, 48, 40, 19, 86, 27, 90]
                }
            ]
        };
    }
})();
                        {% endhighlight %}
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>

        <div data-ng-controller="BarCtrl as bar" layout="column" layout-align="center center" layout-margin>
            <canvas data-sys-chart-bar data-dataset="bar.data" width="600" height="240" data-ng-if="demo.run"></canvas>
            <canvas data-sys-chart-bar data-dataset="bar.data" width="600" height="240" data-ng-if="!demo.run"></canvas>
        </div>
    </div>

    <div data-ng-controller="DemoCtrl as demo" data-ng-init="demo.run = false" class="md-whiteframe-z1" flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span>with Options</span>
                </h2>
                <span flex></span>
                <md-button data-ng-click="demo.run = !demo.run" class="md-icon-button" aria-label="Run Demo">
                    <md-tooltip>Run Demo</md-tooltip>
                    <md-icon class="fa fa-lg" md-font-icon="fa-play"></md-icon>
                </md-button>
                <md-button data-ng-click="demo.showSource = !demo.showSource" class="md-icon-button" aria-label="View Source">
                    <md-tooltip>View Source</md-tooltip>
                    <md-icon class="fa fa-lg" md-font-icon="fa-code"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-content data-ng-if="demo.showSource" layout-padding>
            <md-tabs class="source" md-border-bottom>
                <md-tab label="HTML">
                    <md-content class="md-padding">
                        <h3>HTML</h3>
                        {% highlight html %}

<div data-ng-controller="BarCtrl as bar">
    <canvas data-sys-chart-bar
            data-dataset="bar.data"
            data-options="bar.options"
            width="400"
            height="240"></canvas>
</div>

                        {% endhighlight %}
                    </md-content>
                </md-tab>
                <md-tab label="JS">
                    <md-content class="md-padding">
                        <h3>JavaScript</h3>
                        {% highlight js %}
(function () {
    'use strict';

    function BarCtrl ( ) {

        // Same as basic but also...

        this.options = {
            scaleShowGridLines: false,
            barShowStroke : false,
            barDatasetSpacing : 0
        };
    }
})();
                        {% endhighlight %}
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>

        <div data-ng-controller="BarCtrl as bar" layout="column" layout-align="center center" layout-margin>
            <canvas data-sys-chart-bar data-dataset="bar.data" data-options="bar.options" width="600" height="240" data-ng-if="demo.run"></canvas>
            <canvas data-sys-chart-bar data-dataset="bar.data" data-options="bar.options" width="600" height="240" data-ng-if="!demo.run"></canvas>
        </div>
    </div>
</div>
