.viewport {
    max-width: 980px;
}

md-tabs.source {
    min-height: 360px;
    height: 360px;

    md-tabs-content-wrapper {
        border: 1px solid #eeeeee;
    }

    md-content {
        height: 100%;
        padding: 0 16px;
        background-color: #fafafa;

        h3 {
            color: #ccc;
        }
    }
}
