---
layout: master
title: Examples
---

<div layout="column" layout-margin>
    <h1 class="md-display-2" flex>Angular Chart.js</h1>
    <p flex>Simple wrapper for the Chart.js library</p>

    <div layout="column" layout-align="start start">
        <md-button class="md-primary md-raised" href="https://github.com/sysen-limited/angular-chart-js">
            <md-icon class="fa fa-lg" md-font-icon="fa-github"></md-icon> Source code
        </md-button>
    </div>
</div>

{% include line.html %}
{% include bar.html %}
{% include radar.html %}
{% include polar.html %}
{% include pie.html %}
{% include doughnut.html %}
