<!DOCTYPE html>
<html data-ng-app="sysen">
    <head>
        <title>{{ page.title }} &middot; Angular Chart JS</title>

        <base href="/" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-material/0.10.0/angular-material.min.css" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" />

        <link rel="stylesheet" href="assets/css/angular-chart.css" />
        <link rel="stylesheet" href="assets/css/docs.css" />
        <link rel="stylesheet" href="assets/css/pygments.css" />

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-aria.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-material/0.10.0/angular-material.min.js"></script>
    </head>

    <body layout="row">
        <div layout="column" flex>
            <md-toolbar class="md-whiteframe-glow-z2">
                <div class="md-toolbar-tools">
                    <h1 class="md-toolbar-tools md-display-3">Angular ChartJS</h1>
                    <div flex></div>
                    <div data-ng-controller="MenuCtrl as menu" layout="column" layout-align="center center">
                        <md-menu md-position-mode="target-right target">
                            <md-button class="md-icon-button" ng-click="$mdOpenMenu()" aria-label="Navigation Menu">
                                <md-icon class="fa fa-lg" md-font-icon="fa-bars"></md-icon>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item>
                                    <md-button ng-click="menu.goto('line')">Line</md-button>
                                </md-menu-item>

                                <md-menu-item>
                                    <md-button ng-click="menu.goto('bar')">Bar</md-button>
                                </md-menu-item>

                                <md-menu-item>
                                    <md-button ng-click="menu.goto('radar')">Radar</md-button>
                                </md-menu-item>

                                <md-menu-item>
                                    <md-button ng-click="menu.goto('polar')">Polar</md-button>
                                </md-menu-item>

                                <md-menu-item>
                                    <md-button ng-click="menu.goto('pie')">Pie</md-button>
                                </md-menu-item>

                                <md-menu-item>
                                    <md-button ng-click="menu.goto('doughnut')">Doughnut</md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </div>
            </md-toolbar>

            <md-content flex md-scroll-y>
                <div layout="column" layout-margin>
                    <md-content class="viewport" flex>
                        {{ content }}
                    </md-content>
                </div>
            </md-content>
        </div>

        <script type="text/javascript" src="assets/js/angular-chart.js"></script>
        <script type="text/javascript" src="assets/js/docs.js"></script>
    </body>
</html>
